@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#080808] text-white;
}

.header {
  background-image: url(/images/background.png);
  background-size: cover;
  background-position: center;
}
.navbar {
  position: relative;
}
.navbar::after {
  content: "";
  width: 0;
  height: 3px;
  background: #65b741;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.navbar:hover::after {
  width: 100%;
}

/* -- -------------- about -------------- -- */
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #65b741;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 0 0 10px 0;
}

.tab-contents ul li span {
  color: #65b741;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
