@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#080808] text-white;
  font-family: Kalam, sans-serif;
}
h2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}

.link {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  text-decoration: underline;
  margin-top: 20px;
}

.header {
  background-color: black;
  background-image: url(/images/Background.JPG);
  filter: brightness(1.5) contrast(1.25);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar {
  position: relative;
}
.navbar::after {
  content: "";
  width: 0;
  height: 3px;
  background: #65b741;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.navbar:hover::after {
  width: 100%;
}

/* -- -------------- about -------------- -- */
.tab-links {
  color: #fff;
  margin-right: 50px;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
.tab-links:hover {
  color: #65b741;
  transition: 0.5s;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #65b741;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}

/* -- -------------- My Services -------------- -- */
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  transition:
    background 0.5s,
    transform 0.5s;
}

.services-list div:hover {
  background: #296000;
  transform: translateY(-10px);
}
